mixin dropdown(data)
  -
    const {
      label,
      placeholder = 'Выберите нужное количество',
      isButtonsHidden = false,
      dropdownRows = [{ subjectOfCalculation: 'Гость', count: '0' }],
      wordsForm = `{ "0": ["гость", "гостя", "гостей"] }`
    } = data;

  - const classDropdownButtons = `${isButtonsHidden ? 'dropdown__buttons_hidden' : ''}`;

  .dropdown.js-dropdown(data-words-form=wordsForm)
    .dropdown__input.js-dropdown__input
      span.dropdown__input-label= label
      .dropdown__input-wrapper
        span.dropdown__input-arrow-down.js-dropdown__input-arrow-down
        input.dropdown__input-content.js-dropdown__input-content(
          type='text',
          name='dropdown-input-content',
          placeholder=placeholder,
          readonly='readonly'
        )
    .dropdown__content.js-dropdown__content
      .dropdown__rows.js-dropdown__rows
        each dropdownRow in dropdownRows
          - const { subjectOfCalculation, count } = dropdownRow;

          .dropdown__row.js-dropdown__row
            span.dropdown__row-label= subjectOfCalculation
            p.dropdown__row-counter
              button.dropdown__minus.js-dropdown__minus(tabindex='0') -
              span.dropdown__amount.js-dropdown__amount= count
              button.dropdown__plus.js-dropdown__plus(tabindex='0') +
      .dropdown__buttons(class=classDropdownButtons)
        .dropdown__button-clear.js-dropdown__button-clear
          +button({ text: 'Очистить' })
        .dropdown__button-apply.js-dropdown__button-apply
          +button({ text: 'Применить' })
