mixin social-button({ buttons = [{name: 'Icon', src: '', href: '/', width: 24, height: 24}] } = {})
  .social-button
    each button in buttons
      - const { name, src, href, width, height } = button
      a.social-button__button(target="_blank" rel="noopener noreferrer" href=href)
        img(src=`${src}` alt=name width=`${width}` height=`${height}`)