include ../../elements/rate-button/rate-button.pug

mixin number-card({number = '100', text, cost = '1000', amount = '0'} = {number, text, cost, amount})
  .number-card
    .number-card__slider
      - var images = new Array(4);
      each val, index in images
        .number-card__content(class=`number-card__content_with-img-${number}`)
      .number-card__prev
      .number-card__next
    .number-card__slider-dots
      - var switches = new Array(4);
      each val, index in switches
        span.number-card__switch-slider
    .number-card__description
      .number-card__data
        .number-card__specification
          span.number-card__sign-number №
          span.number-card__number= number
          span.number-card__kind= text
        .number-card__cost
          span.number-card__cost-room= cost
            | &#x20bd
          span.number-card__cost-room-description в сутки
      .number-card__data-border
      .number-card__reviews
        .number-card__rate-group-button
            +rate-button()
        .number-card__amount
          span.number-card__amount-reviews= amount
          span.number-card__amount-reviews-description
            |  Отзывов