include ../../elements/rating/rating.pug

mixin number-card({number = '100', text, cost = '1000', amount = '0'} = {number, text, cost, amount})
  .number-card.js-number-card
    .number-card__slider
      - const images = new Array(4);
      each value, index in images
        .number-card__content.js-number-card__content(class=`number-card__content_with-img-${number}`)
      .number-card__prev.js-number-card__prev
      .number-card__next.js-number-card__next
    .number-card__slider-dots
      - const switches = new Array(4);
      each value, index in switches
        span.number-card__switch-slider.js-number-card__switch-slider
    .number-card__description
      .number-card__data
        a.number-card__specification(href='../../pages/room-details/room-details.pug', target='_blank')
          .number-card__specification-group
            span.number-card__sign-number №
            span.number-card__number= number
            span.number-card__kind= text
        .number-card__cost
          span.number-card__cost-room= cost
            | &#x20bd
          span.number-card__cost-room-description в сутки
      .number-card__data-border
      .number-card__reviews
        .number-card__rate-group-button
            +rating()
        .number-card__amount
          span.number-card__amount-reviews= amount
          span.number-card__amount-reviews-description
            |  Отзывов