mixin pagination({ currentPage = 1, amountItemsPerPage = 12, amountItems = 0 } = {})
  - const amountPages = Math.ceil(amountItems / amountItemsPerPage);
  - const arrayPages = Array.from({ length: amountPages }, (v, k) => k + 1);

  - const beginningRange = amountItemsPerPage * currentPage - amountItemsPerPage + 1;
  - let endRange = amountItemsPerPage * currentPage;
  -
    if (endRange > amountItems) {
      endRange = amountItems;
    }
  - const rangeItems = `${beginningRange} – ${endRange}`;

  - let approximateAmountItems;

  -
    if (amountItems < 10) {
      approximateAmountItems = amountItems
    } else if (amountItems < 100) {
      approximateAmountItems = Math.floor(amountItems / 10) * 10;
    } else {
      approximateAmountItems = Math.floor(amountItems / 100) * 100;
    }

  if (amountPages < 2)
    null
  else if (amountPages > 1 && amountPages < 5)
    .pagination
      ul.pagination__list
        each value, index in arrayPages
          if index < 5
            if index === currentPage - 1
              li.pagination__item.pagination__item_active= value
            else
              li.pagination__item= value
        li.pagination__item_with-arrow
      span.pagination__description= `${rangeItems} из ${approximateAmountItems}+ вариантов аренды`
  else
    .pagination
      ul.pagination__list
        each value, index in arrayPages
          if index < 3
            if index === currentPage - 1
              li.pagination__item.pagination__item_active= value
            else
              li.pagination__item= value
        li.pagination__item= '...'
        if amountPages === currentPage
          li.pagination__item.pagination__item_active= amountPages
        else
          li.pagination__item= amountPages
        li.pagination__item_with-arrow
      span.pagination__description= `${rangeItems} из ${approximateAmountItems}+ вариантов аренды`
