mixin logo
  .logo
    a.logo__link(href='../../pages/landing/landing.pug')
      img.logo__img(
        src='../../elements/logo/images/logo.svg',
        alt='logo',
        aria-label='logo',
        width='106',
        height='40'
      )
