include ../../elements/like-button/like-button.pug

mixin comment(comment)
  -
    const {
      userName,
      date,
      srcImage,
      text,
      amountLike = 0,
      likeChecked
    } = comment;

  .comment
    .comment__info
      img.comment__user-icon(
        src=`${ srcImage }`,
        alt='User avatar',
        aria-label='User avatar',
        width='48px',
        height='48px'
      )
      .comment__user
        span.comment__user-name= userName
        span.comment__date= date
    .comment__content
      .comment__like-button
        +like-button({ value: amountLike, checked: likeChecked })
      p.comment__paragraph= text
