mixin base-button({text = 'button', decor = '', arrow = '', type = 'button'} = {text, decor, arrow, type})
  .button(class=`${'button_with-'}${arrow}`)
    button.button__content(class=`${'button__content_with-'}${decor}`, type=type)
      span.button__text=text