mixin button({text = 'button', decor = '', arrow = '', type = 'button', height = 'small'} = {})
  .button(class=`button_with-${arrow}`)
    button.button__content(class=`button__content_with-${decor} button__content_height_${height}`, type=type)
      span.button__text=text