mixin checkbox-button({ value, name, checked = false, isBoldText = false, description })
  - const classBoldText = `${isBoldText ? 'checkbox-button__value_bold' : ''}`;

  .checkbox-button
    label.checkbox-button__filter
      input.checkbox-button__content(type='checkbox', name=name, value=value, checked=checked)
      span.checkbox-button__indicator
      span.checkbox-button__value(class=classBoldText)= value
    if description
      .checkbox-button__description= description
