mixin base-input(label, placeholder, type, arrow, borderRadiusTop, borderRadiusBottom, hide, readonly)
  div.input()
    span(class='input__description', class=`input__description_${hide}` || false)= label
    .input__wrapper
      input.input__content(class=`input__content_with-border-radius-${borderRadiusTop}` || false,
      class=`input__content_with-border-radius-${borderRadiusBottom}` || false, type= type || 'text',
      name='input-content', placeholder= placeholder, readonly= readonly)
      span(class=`input__icon-${arrow}` || false)
