include ../../components/calendar/calendar.pug
include ../../elements/input/input.pug

mixin datepicker-group({labelArray = ['date dropdown', 'date dropdown'], datesFormat = ['ДД.ММ.ГГГГ','ДД.ММ.ГГГГ'], userDates = ['', ''], size = 'large', amountField = 'two'} = {})
  .datepicker-group.js-datepicker-group
    .datepicker-group__inputs
      if (amountField === 'with-one-input')
        .datepicker-group__input(class=`datepicker-group__input_width_${size}`)
          +input({
            label: labelArray[0],
            placeholder: datesFormat[0],
            arrow: 'arrow-down',
            hasBorderRadiusTop: true,
            hasBorderRadiusBottom: true,
            readonly: 'readonly',
            areInDropdown: true,
            })
      else if (amountField === 'with-two-inputs')
        .datepicker-group__input(class=`datepicker-group__input_width_${size}`)
          +input({
            label: labelArray[0],
            placeholder: datesFormat[0],
            arrow: 'arrow-down',
            hasBorderRadiusTop: true,
            hasBorderRadiusBottom: true,
            readonly: 'readonly',
            areInDropdown: true,
          })
        .datepicker-group__input(class=`datepicker-group__input_width_${size}`)
          +input({
            label: labelArray[1],
            placeholder: datesFormat[1],
            arrow: 'arrow-down',
            hasBorderRadiusTop: true,
            hasBorderRadiusBottom: true,
            readonly: 'readonly',
            areInDropdown: true,
          })
    .datepicker-group__datepicker.js-datepicker-group__datepicker(class=`datepicker-group__datepicker_${amountField}`)
      +calendar()
        .datepicker-here(data-range='true', data-day-from=userDates[0], data-day-to=userDates[1]).js-datepicker-here