include ../../components/calendar/calendar.pug
include ../../components/dropdown/dropdown.pug
include ../../elements/settlement-group/settlement-group.pug

mixin form-room-cost({number = '100', text = 'text', cost = '1000', dateFormat = ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ'], userDates} = {})
    .form-room-cost
      .form-room-cost__identification-room
          .form-room-cost__specification-room
            span.form-room-cost__sign-number= '№'
            span.form-room-cost__number-room= number
            span.form-room-cost__room-class= text
          .form-room-cost__cost-per-day
            span.form-room-cost__room-cost!= `${cost}<span class='form-room-cost__sign-rouble'>P</span> `
            span= 'в сутки'
      - const label = ['Прибытие', 'Выезд']
      +datepicker-group({labelArray: label, dates: dateFormat, userDates: userDates, size: 'small', amountField: 'with-two-inputs'})
      .form-room-cost__dropdown-container
        - const dataForDropdown = [{subjectOfCalculation: 'Взрослые', count: '2'}, {subjectOfCalculation: 'Дети', count: '1'}, {subjectOfCalculation: 'Младенцы', count: '0'}]
        +dropdown({
          label: 'Гости',
          placeholder: '3 гостя',
          dropdownFor: 'the-guests',
          dropdownRows: dataForDropdown
          })
      .form-room-cost__calculation
          - const stateForTable = {pricePerDay: '9 990', numberOfDays: 'x 4 суток', priceForThePeriod: '39 690', serviceCharge: '2 179', servicePrice: '0', additionalServicesPrice: '300', totalCost: '38 081'}
          +settlement-group(stateForTable)
      .form-room-cost__total
          .form-room-cost__total-item Итого
          .form-room-cost__total-item.form-room-cost__total-item_with-border
          .form-room-cost__total-item.form-room-cost__total-item_with-cost!= `${stateForTable.totalCost}<span class='form-room-cost__sign-rouble'>P</span>`
      .form-room-cost__armor-button
          +button({text: 'Забронировать', decor: 'background', arrow: 'arrow', height: 'large'})